body{ /* Estrutura basica de um CSS (Seletor { propriedade:valor ;*/
    font: Tahoma, sans-serif;
    background-color: aqua;
    border:  black 3px solid;
    height: 100vh;
}

header {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: left;
    border: blue 3px solid;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin-right: 50px;
}

footer {
    background-color: red;
    color: white;
    text-align: center;
    width: 100%;
    text-decoration: none;
    position: absolute;
    bottom:0;
}

header a:link, footer a:link {
    text-decoration: none;
}

header a:visited, footer a:visited {
    color: red;
    text-decoration: none;
}
