p.projectTitle {
    font-size: 18px;
    font-weight: bold;
    color: #333399;
    margin-top: 5px;
    margin-bottom: 10px;
}

#projTitle { /* Estilo aplicado via ID. Tem especificidade maior que uma class */
    font-size: 18px;
    font-weight: bold;
    color:red;
    margin-top: 5px;
    margin-bottom: 10px;
}

article{
    padding: 10px;
}

article section{
    margin-bottom: 50px;
    font-weight: bold ;
}



.photoProject {
    border: 2px solid #000000;
    border-radius: 5px;
    width: 160px;
    height: 90px;
    float: left;
    margin-right: 10px; 
}